
<!-- <div  class='kml-import'> -->
<p-fileUpload [style]="{'border-radius':'50%','height':'35px','width':'35px','display':'block', 'opacity':'0.8', 'margin-right':'10px'}" [auto]='true' mode="basic" name="demo[]" accept='.zip' customUpload='true' maxFileSize='10000000' (uploadHandler)="shapeFileUpload($event)" chooseLabel="S"></p-fileUpload>
<p-fileUpload [style]="{'border-radius':'50%','height':'35px','width':'35px', 'display':'block','opacity':'0.8', 'margin-right':'10px', 'margin-top':'5px'}" mode="basic" name="demo2[]" [auto]='true' accept='.kml' customUpload='true' maxFileSize='10000000' (uploadHandler)="kmlFileUpload($event)" chooseLabel="K"></p-fileUpload>
<!-- </div> -->
