
.ui-button-color{
  border-radius: 10px;
  /*background-color: #63BD58;*/
  width: 170px;
  height:40px;
  font-family: 'Roboto';
  font-size: 15px;
  color:#FFFFFF;
  padding: 5px;
  margin-left: 5%;
  background-image: linear-gradient(#63BD58,#61D258);

}
.ui-button-color-bus{
  border-radius: 10px;
  /*background-color: #63BD58;*/
  width: 135px;
  height:40px;
  font-family: 'Roboto';
  font-size: 17px;
  color:#FFFFFF;
  padding: 5px;
  margin-left: 10px;
  background-image: linear-gradient(#63BD58,#61D258);
}

// body {

//   .ui-button {

//       font-size: 15px;
  
//   }
// }