.deletebtn{
    border: 1px solid #fff!important;
    background: transparent!important;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    color: #fff;
    // margin-right: 10px;
    span.fa{
      font-size: 14px;
    }
}