
<!--<p-table [value]="revisions" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th>Tipo de risco</th>
      <th>Descrição</th>
      <th>Área de risco</th>
      <th>Área de intersecção</th>
      <th>Porcentagem</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-revision>
    <tr style="cursor: pointer">
      <td>{{revision.thing.id}}</td>
      <td>{{revision.client.name}}</td>
      <td>{{revision.client.cpfcnpj}}</td>
      <td>{{revision.client.email}}</td>
      <td>{{revision.status}}</td>
    </tr>
  </ng-template>
</p-table>-->
<p-card class="imovel-risco-analize-section">
    <p-header>
      <div class="ui-card-title">
          <img src="../assets/layout/images/clientes.svg" class="entity-icon">
          <div class="clien-ame">DETALHES DO RSA</div>
      </div>
    </p-header>
    <div class="p-grid">
        <div class="p-col-3">
          <div class="p-col-12 value">
            Tipo de risco
          </div>
          <div class="p-col-12 value warning">
            <b>Tipo de risco</b>
          </div>
          <div class="p-col-12 value close">
            <b>Tipo de risco</b>
          </div>
          <div class="p-col-12 value close">
            <b>Tipo de risco</b>
          </div>
        </div>
        <div class="p-col-3">
            <div class="p-col-12 value">
              Tipo de risco
            </div>
            <div class="p-col-12 value">
                <b>Tipo de risco</b>
            </div>
            <div class="p-col-12 value">
                <b>Tipo de risco</b>
            </div>
            <div class="p-col-12 value">
                <b>Tipo de risco</b>
            </div>
          </div>
          <div class="p-col-3">
              <div class="p-col-12 value">
                Tipo de risco
              </div>
              <div class="p-col-12 value">
                  <b>Tipo de risco</b>
              </div>
              <div class="p-col-12 value">
                  <b>Tipo de risco</b>
              </div>
              <div class="p-col-12 value">
                  <b>Tipo de risco</b>
              </div>
            </div>
            <div class="p-col-3">
                <div class="p-col-12 value">
                  Tipo de risco
                </div>
                <div class="p-col-12 value">
                    <b>Tipo de risco</b>
                </div>
                <div class="p-col-12 value">
                    <b>Tipo de risco</b>
                </div>
                <div class="p-col-12 value">
                    <b>Tipo de risco</b>
                </div>
              </div>
    </div>
  </p-card>