<div class="p-grid"> 
  <div class="p-col-12 client-one-section" style="box-sizing: border-box; min-height: 200px;">
    <p-card class="imovel-risco-analize-section">
      <p-header>
        <div class="ui-card-title">
            <img src="../assets/layout/images/audsat-images/icons/glebas-1.svg" class="entity-icon">
            <div class="clien-ame">Glebas</div>
            <!--<div class="plus-sign">+</div>-->
            <img class="plus-sign" src="../assets/layout/images/audsat-images/icons/adicionar-green.svg">
        </div>
      </p-header>
    </p-card>
    <app-operacoestableadjustable [tablecontent]="tablecontent"></app-operacoestableadjustable>
  </div>
</div>