
<!-- <p-card class="imovel-risco-analize-section">
  <p-header>
    <div class="ui-card-title">
        <img src="../../assets/layout/images/audsat-images/icons/detalhes-rsa.svg" class="entity-icon">
        <div class="clien-ame">DETALHES DO RSA</div>
    </div>
  </p-header>
  <div class="p-grid">
      <div class="p-col-3">
        <div class="p-col-12 value">
          Tipo de risco
        </div>
        <div class="p-col-12 value warning">
          <b>Tipo de risco</b>
        </div>
        <div class="p-col-12 value close">
          <b>Tipo de risco</b>
        </div>
        <div class="p-col-12 value close">
          <b>Tipo de risco</b>
        </div>
      </div>
      <div class="p-col-3">
          <div class="p-col-12 value">
            Tipo de risco
          </div>
          <div class="p-col-12 value">
              <b>Tipo de risco</b>
          </div>
          <div class="p-col-12 value">
              <b>Tipo de risco</b>
          </div>
          <div class="p-col-12 value">
              <b>Tipo de risco</b>
          </div>
        </div>
        <div class="p-col-3">
            <div class="p-col-12 value">
              Tipo de risco
            </div>
            <div class="p-col-12 value">
                <b>Tipo de risco</b>
            </div>
            <div class="p-col-12 value">
                <b>Tipo de risco</b>
            </div>
            <div class="p-col-12 value">
                <b>Tipo de risco</b>
            </div>
          </div>
          <div class="p-col-3">
              <div class="p-col-12 value">
                Tipo de risco
              </div>
              <div class="p-col-12 value">
                  <b>Tipo de risco</b>
              </div>
              <div class="p-col-12 value">
                  <b>Tipo de risco</b>
              </div>
              <div class="p-col-12 value">
                  <b>Tipo de risco</b>
              </div>
            </div>
  </div>
</p-card> -->
<p-card class="imovel-risco-analize-section">
  <p-header>
    <div class="ui-card-title">
        <img src="../../assets/layout/images/audsat-images/icons/detalhes-rsa.svg" class="entity-icon">
        <div class="clien-ame">DETALHES DO RSA</div>
    </div>
  </p-header>
  <div class="p-grid">
      <div class="p-col-3">
        <div class="p-col-12 value">
          Tipo de risco
        </div>
        <div class="p-col-12 value warning">
          <b>Situaciao reserva legal</b>
        </div>
        <div class="p-col-12 value close">
          <b>Sobreposicao area de risco</b>
        </div>
        <div class="p-col-12 value close">
          <b>Proximidade area de risco</b>
        </div>
      </div>
      <div class="p-col-3">
          <div class="p-col-12 value">
            Descricao
          </div>
          <div class="p-col-12 value">
              <b>Situalicao nao analisada</b>
          </div>
          <div class="p-col-12 value">
              <b>Área embargada</b>
          </div>
          <div class="p-col-12 value">
              <b>Descricao do risco proximidade area de risco</b>
          </div>
        </div>
        <div class="p-col-3">
            <div class="p-col-12 value">
              Área de Interseccao
            </div>
            <div class="p-col-12 value">
                <b>Situacao nao analisada</b>
            </div>
            <div class="p-col-12 value">
                <b>386 (ha)</b>
            </div>
          </div>
          <div class="p-col-3">
              <div class="p-col-12 value">
                Porcentagem
              </div>
              <div class="p-col-12 value">
                  <b>Situacao nao analisada</b>
              </div>
              <div class="p-col-12 value">
                  <b>3.3%</b>
              </div>
            </div>
  </div>
</p-card>