  <p-card class="imovel-risco-analize-section">
    <p-header>
      <div class="ui-card-title">
          <img src="../../assets/layout/images/audsat-images/icons/analise-rsa.svg" class="entity-icon svg-class">
          <div class="clien-ame">ANÁLISE DE RISCO SÓCIO AMBIENTAL</div>
          <div class="successText">ATIVO</div>
      </div>
      <div class="ui-card-subtitle">
          
          REGISTRO - 321435435 FGHGFH HGF
      </div>
    </p-header>
    <div class="p-grid">
      <div class="p-col-12 title warning">
          <label>Número de registro</label>
      </div>
      <div class="p-col-12 value">
          <b>{{properties.nr}}</b>
      </div>
      <div class="p-col-12 title close">
          <label>Situação do cadastro</label>
      </div>
      <div class="p-col-12 value">
          <b>{{properties.sc}}</b>
      </div>
      <div class="p-col-12 title marked">
          <label>Situação reserva legal</label>
      </div>
      <div class="p-col-12 value">
          <b>{{properties.srl}}</b>
      </div>
      <div class="p-col-12 title close">
          <label>Área do imóvel</label>
      </div>
      <div class="p-col-12 value">
          <b>{{properties.ai}}</b>
      </div>
      <div class="p-col-12 title marked">
          <label>Reserva legal declarada</label>
      </div>
      <div class="p-col-12 value">
          <b>{{properties.rlc}}</b>
      </div>
      <div class="p-col-12 title marked">
          <label>Reserva legal averbada</label>
      </div>
      <div class="p-col-12 value">
          <b>{{properties.rla}}</b>
      </div>
      <div class="p-col-12 title marked">
          <label>Área de APP</label>
      </div>
      <div class="p-col-12 value">
          <b>{{properties.aA}}</b>
      </div>
      <div class="p-col-12 title marked">
          <label>Sobreposição área de risco</label>
      </div>
      <div class="p-col-12 value">
          <b>{{properties.sar}}</b>
      </div>
      <div class="p-col-12 title marked">
          <label>Proximidade área de risco</label>
      </div>
      <div class="p-col-12 value">
          <b>{{properties.par}}</b>
      </div>
    </div>
  </p-card>
    
   
  