<button pButton type="button" label="Incluir matrícula" (click)="showDialog()">
</button>
<p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [draggable]="false"
  [closeOnEscape]="true"
  [responsive]="true"
  [dismissableMask]="true"
  [positionTop]="15"
  [minHeight]="400"
  [width]="1200"
  [autoZIndex]="true"
  [contentStyle]="{'max-height':'500px'}"
  styleClass="dialog-radius"
  >
  <p-header>
        <img class="center" src="{{step_img}}" />

  </p-header>
  <div class="p-grid">
    <div class="p-col-12">
      <p-tabView styleClass="d-none" [activeIndex]="stepActiveIndex">
        <p-tabPanel styleClass="d-none" header="Informações da Matrícula" style="border-bottom:1px #000000 solid !important;">
          <registry-wizard-step #registryStep></registry-wizard-step>
          <div class="p-grid text-left">
            <div class="p-col-12 wizard-buttons">
              <button pButton type="button" label="Adicionar no Mapa" class="ui-button button-font-size" (click)="goTo(1)" [disabled]="registryStep.form.form.invalid || registryStep.newThing==-1 || registryStep.newThing==0 || registryStep.infoCar"></button>
              <button pButton type="button" label="Continuar" class="button-font-size" (click)="goTo(2)" [disabled]="registryStep.form.form.invalid || registryStep.newThing==-1 || registryStep.newThing==1 && !registryStep.infoCar"></button>
            </div>
          </div>
        </p-tabPanel>

        
        <p-tabPanel header="Mapa">
          <app-map [editable]='true' #map1 (getPolygons)="setRegistryCoordinates($event)" class="map-content"></app-map>
            <div class="p-grid p-justify-end" style="margin-bottom: 5px">
              <div class="p-col-2">
                <button pButton type="button" label="Voltar" class="ui-button button-font-size" (click)="goTo(0)"></button>
              </div>
              <div class="p-col-2">
                <button pButton type="button" label="Continuar" class="ui-button button-font-size" (click)="goTo(2)"></button>
              </div>
            </div>
        </p-tabPanel>

        <p-tabPanel header="Imoveis" >
          <property-wizard-step #propertyStep></property-wizard-step>
          <div class="p-grid" style="text-align: left">
              <div class="p-col-12 wizard-buttons">
                  <button pButton type="button" label="Adicionar no Mapa" class="ui-button button-font-size" (click)="goTo(3)" [disabled]="propertyStep.form.form.invalid || propertyStep.newThing==-1 || propertyStep.newThing==0 || propertyStep.infoCar"></button>
                  <button pButton type="button" label="Continuar" class="button-font-size" (click)="goTo(4)" [disabled]="propertyStep.form.form.invalid || propertyStep.newThing==-1 || propertyStep.newThing==1 && !propertyStep.infoCar" ></button>
              </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Mapa2">
            <app-map [editable]='true' (getPolygons)="setPropertyCoordinates($event)" class="map-content" #map2></app-map>
              <div class="p-grid p-justify-end" style="margin-bottom: 5px">
                  <div class="p-col-2">
                    <button pButton type="button" label="Voltar" class="ui-button button-font-size" (click)="goTo(2)"></button>
                  </div>
                  <div class="p-col-2">
                    <button pButton type="button" label="Continuar" class="ui-button button-font-size" (click)="goTo(4)"></button>
                  </div>
              </div>
          </p-tabPanel>
        <p-tabPanel header="Clientes" >
            <client-wizard-step #clientStep></client-wizard-step>
            <div class="p-grid" style="text-align: left">
              <div class="p-col-12 wizard-buttons">
                <button pButton type="button" label="Voltar" class="ui-button button-font-size" (click)="goTo(3)"></button>
                <button pButton type="button" label="Continuar" class="ui-button button-font-size" (click)="save()" [disabled]="clientStep.form.form.invalid"></button>
              </div>
            </div>
          </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</p-dialog>
