<!-- <div class="p-grid">
     
          
            <div class="p-grid">
              <div class="p-col-12">
                  <tr *ngFor="let index of headers">
                    <td>{{index}}</td>
                  </tr>
              </div>
              <div class="p-col-12">
                  <tr *ngFor="let index of properties">
                    <td id='data'><b>{{index.value}}</b></td>
                  </tr>
                  
              </div>
            </div>
          
        
  </div> -->
<p-card class="imovel-risco-analize-section">
  <p-header>
    <div class="ui-card-title">
        <img src="../assets/layout/images/clientes.svg" class="entity-icon">
        <div class="clien-ame">ANALIZE DE RISCO SOCIALEMBIENTO</div>
    </div>
  </p-header>
  <div class="p-grid">
    <div class="p-col-8 value warning">
        <label>Area embargada</label>
    </div>
    <div class="p-col-2 value">
        <label>26(ha)</label>
    </div>
    <div class="p-col-2 value">
        <label>22%</label>
    </div>
    <div class="p-col-8 value close">
        <label>Situação do cadastro</label>
    </div>
    <div class="p-col-2 value">
        <label>0</label>
    </div>
    <div class="p-col-2 value">
        <label>0%</label>
    </div>
    <div class="p-col-8 value marked">
        <label>Situação reserva legal</label>
    </div>
    <div class="p-col-2 value">
        <label>0</label>
    </div>
    <div class="p-col-2 value">
        <label>0%</label>
    </div>
    <div class="p-col-8 value close">
        <label>Área do imóvel</label>
    </div>
    <div class="p-col-2 value">
        <label>0</label>
    </div>
    <div class="p-col-2 value">
        <label>0%</label>
    </div>
    <div class="p-col-8 value marked">
        <label>Reserva legal declarada</label>
    </div>
    <div class="p-col-2 value">
        <label>0</label>
    </div>
    <div class="p-col-2 value">
        <label>0%</label>
    </div>
    <div class="p-col-8 value marked">
        <label>Reserva legal averbada</label>
    </div>
    <div class="p-col-2 value">
        <label>0</label>
    </div>
    <div class="p-col-2 value">
        <label>0%</label>
    </div>
    <div class="p-col-8 value marked">
        <label>Área de APP</label>
    </div>
    <div class="p-col-2 value">
        <label>4.8(ha)</label>
    </div>
    <div class="p-col-2 value">
        <label>0%</label>
    </div>
    <div class="p-col-8 value marked">
        <label>Sobreposição área de risco</label>
    </div>
    <div class="p-col-2 value">
        <label>13.8(ha)</label>
    </div>
    <div class="p-col-2 value">
        <label>12%</label>
    </div>
  </div>
</p-card>
  
 
