<app-entitycard title="{{operation.name}}"
subtitle=""
icon="icon-operacoes"
icon2="icon-location operationMapText"
detailsCollapsed="{{detailsCollapsed}}"
status="Ativo"
class="client"
>
    <div class="p-col-12 car-feild">
      Cultura: {{operation.crop}}
    </div>
    <div class="p-col-12">
      Total da área financiada:
    </div>
    <div class="p-col-12">
      Número de glebas:
    </div>
    <p-footer>
      <div class="p-col-12">
        Área total:
      </div>
      <div class="p-col-12">
        Área total não cultivada:
      </div>
    </p-footer>
</app-entitycard>
