<form #userForm="ngForm" (ngSubmit)="buscar(userForm)" class="profile-form">
  <p-card header="buscar usuário" styleClass="audsat-card">
    <div class="profile-btn-wrapper">
        <app-userinclude></app-userinclude>
    </div>    
  <br>
  <div class="p-grid">
    <div class="p-col-12 p-md-4">
      <div class="ui-inputgroup">
        <label >Nome</label>
        <input type="text" pInputText placeholder="insira o nome" name="nome" required [(ngModel)]="user.nome">
      </div>
    </div>
    <div class="p-col-12 p-md-4">
      <div class="ui-inputgroup">
          <label >Email</label>
        <input type="text" pInputText placeholder="insira o email" name="email" required email [(ngModel)]="user.email">
      </div>
    </div>
    <div class="p-col-12 p-md-4">
      <div class="ui-inputgroup">
        <label >CPF</label>
        <input type="text" pInputText placeholder="insira o CPF" name="cpf" required minlength="11" [(ngModel)]="user.cpf">
      </div>
    </div>


    <div class="profile-btn-wrapper">
        <!-- <button pButton type="button" label="Buscar" class="ui-button" (click)="searching(nome.value,email.value,cpf.value)"></button> -->
      <button pButton type="submit" label="Buscar" class="ui-button"></button>
    </div>
    
  </div>
  <!-- <p-footer>
      
    </p-footer> -->

</p-card>
</form>
<p-card styleClass="audsat-card">
  <app-usertable [users]="users"></app-usertable>
</p-card>

