<div class="p-grid"> 
  <div class="p-col-12 client-one-section" style="box-sizing: border-box; min-height: 200px; margin-bottom: 3%; margin-top: 3%;">
    <p-card class="imovel-risco-analize-section">
      <p-header>
        <div class="ui-card-title">
          <img src="../../assets/layout/images/audsat-images/icons/laudo-oficial.svg" class="entity-icon">
          <div class="clien-ame">LAUDO OFICIAL DE FISCALIZACAO POR SENSORIAMENTO REMOTO</div>
        </div>
        <h3>DADOS CADSTRAIS</h3>
      </p-header>
    </p-card>
    <app-operacoestableadjustable [tablecontent]="tablecontent3"></app-operacoestableadjustable>
    <app-operacoestableadjustable [tablecontent]="tablecontent4"></app-operacoestableadjustable>
  </div>
</div>