<div class="p-grid"> 
        <div class="p-col-12 client-one-section" style="box-sizing: border-box; min-height: 200px; margin-bottom: 3%; margin-top: 3%;">
          <p-card class="imovel-risco-analize-section">
          <p-header>
            <div class="ui-card-title">
              <img src="../../assets/layout/images/audsat-images/icons/historico-rsa.svg" class="entity-icon">
              <div class="clien-ame">HISTORICO DE MONITORAMENTO RSA</div>
            </div>
          </p-header>
          </p-card>
          <app-operacoestableadjustable [tablecontent]="tablecontent5"></app-operacoestableadjustable>
        </div>
      </div>