.ui-button-color{
  border-radius: 10px;
  background-color: #63BD58;
  width: 170px;
  height:40px;
  font-family: 'Roboto';
  font-size: 17px;
  color:#FFFFFF;
}
.ui-table-text{
  font:Roboto;
  font-size:24px;
  color: #FFFFFF;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page{
  background: #FFFFFF !important;
}
.ui-text-align{
  text-align: center;
}