<p-table [value]="revisions" [paginator]="true" [rows]="10" >
    <ng-template pTemplate="header">
      <tr>
        <th>Garantia</th>
        <th>Operação</th>
        <th>Cliente</th>
        <th>Valor</th>
        <th>Vigência</th>
        <th>Situação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-revision>
      <tr (click)="getGarantia(revision.thing.id)" style="cursor: pointer">
        <td class="ui-table-text">{{revision.guarantee.name}}</td>
        <td class="ui-table-text"></td>
        <td class="ui-table-text"></td>
        <td class="ui-table-text">{{revision.guarantee.value}}</td>
        <td class="ui-table-text">{{revision.guarantee.timeSpanInitial | date:"dd/MM/yyyy"}} - {{revision.guarantee.timeSpanFinal | date:"dd/MM/yyyy"}} </td>
        <td class="ui-table-text">{{revision.status}}</td>

        <!-- <ng-container *ngIf="client.slave_work == true; else elseTemplate">
            <td>Sim</td>
          </ng-container>
          <ng-template #elseTemplate>
            <td>Não</td>
          </ng-template>  -->
        <!-- <td>{{client.situation}}</td> -->
      </tr>
    </ng-template>
  </p-table>
  <div class="p-grid">
    <div class="p-col-12 p-md-4"><p style="color:white">{{revisions?(revisions.length + ' garantias encontradas'):''}}</p></div>
    <div class="p-col-12 p-md-2 p-md-offset-10">
      <!-- <button pButton type="button" label="Baixar XLSX" class="ui-button ui-button-color" (click)="exportAsXLSX()" #baixar></button> -->
      <button pButton type="button" label="Baixar XLSX" class="ui-button" (click)="exportAsXLSX()" #baixar></button>
    </div>
  </div>
